:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Start global Style */
.content-width {
  width: 75%;
  @media (max-width: 750px) {
    width: 100%;
  }
}
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: start;
  border: "2px solid red";
  flex-wrap: wrap;
}

.reverce-flex {
  justify-content: space-between;
  @media (max-width: 750px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.Imagescale {
  width: 450px;
}

.ContentScale {
  width: 420px;
  text-align: center;
  margin: 10px;
}

.btn-primary {
  background-color: #458ff6;
  color: #ffff;
  border-radius: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  transform: scale(1.1);
  background-color: darkblue;
  transition: 2s;
}
.btn-secondary {
  background-color: transparent;
  color: #458ff6;
  border-radius: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border: 2px solid #458ff6;
}

/* end global Style */

/* _________________________________________________________________ */

/* Start Navbar Style */

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: #fff;
  padding: 20px 0;

  @media (max-width: 750px) {
    justify-content: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
}

.logo h3 {
  font-size: 1.5rem;
}

.Logo-circle {
  background-color: #458ff6;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.Logo-circle span {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.NavBar-links {
  display: flex;

  @media (max-width: 750px) {
    margin: 10px 0;
  }
}

.NavBar li {
  list-style-type: none;
  margin: 0 10px;

  @media (max-width: 750px) {
    margin: 0 5px;
  }
}

.NavBar-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

/* end Navbar Style */
/* _________________________________________________________________ */

/* Start Hero Section Style */

.header {
  margin: 20px 0;
}

.header div {
  width: 50%;

  @media (max-width: 750px) {
    width: 90%;
  }
}

.header .header-content {
  margin-top: 30px;
  padding-top: 20px;
}
.header-content h1 {
  font-size: 3rem;
}

.header-content .header-paragraph {
  color: #7d7987;
  font-size: 1.4rem;
  margin: 25px 0;
}

.img-wrapper {
  width: 100%;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
}
/* 
.btn{


} */

.btn-primary {
  background-color: #458ff6;
  color: #ffff;
  border-radius: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  transform: scale(1.1);
  background-color: darkblue;
  transition: 2s;
}

/* end Hero Section Style */

/* _________________________________________________________________ */

/* start Ourservices Section Style */

.Ourservices-section {
  margin: 20px 0;
  background-image: url(./images/Frame.png);
  background-position: left 0px top 20%;
  background-repeat: no-repeat;
}

.Ourservices-decription {
  font-size: 1rem;
  color: #7d7987;
  padding: 10px 20px;
}

.cards {
  margin: 30px 0;
}
.cards h3 {
  margin: 10px 0;
}
.Ourservices-section .cards .card {
  width: 300px;
  height: 304px;
  margin: 10px;
  padding: 22px;
  box-shadow: 5px 5px 10px 0px rgba(10, 40, 50, 0.2);
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #ffff;
}

.Ourservices-section .cards .card:hover {
  border: 2px solid #458ff6;
  transition: 2s;
}

.card div {
  min-height: 110px;
}

.card p {
  font-size: 1rem;
  color: #7d7987;
  min-height: 70px;
}

.Ourservices-Section-content {
  text-align: center;
  margin: 20px 0;
}

.Ourservices-Section-content h2 {
  margin: 20px 0;
}

/* end Ourservices Section Style */
/* _________________________________________________________________ */

/* start Section2 & 3  Style */

.sec {
  margin: 40px 0;
  padding: 20px 0;
}

.sec-content h2 {
  font-size: 2rem;
}

.sec-content .sec-paragraph {
  color: #7d7987;
  font-size: 1.4rem;
  margin: 25px 0;
  margin: 20px 0;
  padding: 10px 0;
}

.sec-content .content {
  width: 70%;
  @media (max-width: 750px) {
    width: 90%;
  }
}

.sec div {
  width: 50%;
  @media (max-width: 750px) {
    width: 90%;
  }
}

/* end  Section 2 & 3 Style */

/* _________________________________________________________________ */

/* start review Section Style */

.review-section .review-card {
  width: 90%;
  height: 400px;
  background: linear-gradient(to bottom, #67C3F3, #5A98F2);
  border-radius: 20px;
  margin: 20px 0;
  align-items: center;
  text-align: center;

  @media (max-width: 750px) {
    height: fit-content;
  }
}

.head {
  width: 100%;
}

.review-card h2 {
  font-size: 2rem;
  color: #ffff;
  margin-top: 20px;
  @media (max-width: 750px) {
    font-size: 1rem;

  }
}

.person-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.person-image img {
  width: 100%;
  height: 100%;
}

.review-content {
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 30px 0;
  padding: 20px 0;
  color: #ffffff;
  text-align: center;

  @media (max-width: 750px) {
    flex-direction: column;
  }
}
.review-content p {
  width: 200px;

  @media (max-width: 750px) {
    margin: 10px 0;
  }
}

/* end review Section Style */
/* _________________________________________________________________ */

/* start articles Section Style */

.articles-section {
  font-size: 2rem;
  margin-top: 30px;
  background-image: url(./images/Vector.png);
  background-position: right 0px top 20%;
  background-repeat: no-repeat;
  width: 100%;
}

.head {
  text-align: center;
}

.articles-section .head h2 {
  font-size: 2rem;
  color: black;
}

.articles-card {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  justify-content: left;
  align-items: start;
  padding: 0;
  overflow: hidden;
  margin: 10px;
  box-shadow: 5px 5px 10px 0px rgba(10, 40, 50, 0.2);
}

.artice-img img {
  width: 100%;
  height: 100%;
}

.artice-img {
  width: 100%;
  height: 240px;
}

.article-content {
  flex-direction: column;
  align-items: center;
}

.articles-card h3 {
  font-size: 1.2rem;
  width: 75%;
}

.articles-card p {
  font-size: 1rem;
  width: 75%;
  margin: 15px 0;
}

.articles-card a {
  font-size: 1rem;
  text-decoration: none;
  color: #4089ed;
}

.articles-card a:hover {
  text-decoration: underline;
}

.btn-a {
  width: 75%;
  display: flex;
  justify-content: baseline;
}

/* end articles Section Style */

/* _________________________________________________________________ */

/* start footer  */

.Footer {
  width: 100%;
  background: linear-gradient(to bottom, #67C3F3, #5A98F2);
  text-align: center;
  border: 1px solid transparent;
  text-align: start;
  padding: 5% 12.5%;
  margin-top: 40px;
}

.footer-list1 {
  width: 25%;
  @media (max-width: 750px) {
    width: 90%;
  }
}

.footer-lists {
  width: 25%;
  text-align: center;
  padding: 10px;
  @media (max-width: 750px) {
    width: 30%;
    margin: 10px 20px;
  }
}

.Footer .logo .Logo-circle {
  background-color: #ffff;
}

.Footer .logo .Logo-circle span {
  color: #64b9f3;
}

.Footer .logo h3 {
  color: #fff;
  font-size: 1.2rem;
}

.Footer p {
  font-size: 1rem;
  color: #ffff;
  margin: 20px;
}

.footer-lists h4 {
  color: #ffff;
}

.footer-lists li {
  list-style-type: none;
  margin: 20px 0;
}

.footer-lists li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

/* end Contact footer */
